node-flow/flows_lms-pc.json
[{"id":"14853596.02638a","type":"tab","label":"SCALE","disabled":false,"info":""},{"id":"e7a4c3ea.d0dac","type":"tab","label":"Label-Printer","disabled":false,"info":""},{"id":"9bcdb673.840e38","type":"tab","label":"RFID-Server","disabled":false,"info":"RDIF-Server"},{"id":"7d824e69.5a82f","type":"ebr-websocket-listener","path":"/ws/rfid","wholemsg":"false"},{"id":"a2956329.4914a","type":"device-config","name":"网口配置","brand":"mettler","devtype":"tcpip","serialPort":"/dev/tty.Bluetooth-Incoming-Port","baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","ip":"172.26.15.72","port":"1702"},{"id":"2c2098b6.641168","type":"ebr-websocket-listener","path":"/ws/scale1","wholemsg":"false"},{"id":"733be4f.137cd1c","type":"intec-config","name":"11","devtype":"tcpip","serialPort":"/dev/tty.Bluetooth-Incoming-Port","ip":"172.26.15.101","port":"502"},{"id":"7d4054d6.2e223c","type":"ebr-websocket-listener","path":"/ws/intec","wholemsg":"false"},{"id":"3e30080b.bde558","type":"comment","z":"14853596.02638a","name":"ws进行称量读取","info":"","x":220,"y":40,"wires":[]},{"id":"e1602cac.81503","type":"scale-config","z":"14853596.02638a","name":"电子称1","devcfg":"a2956329.4914a","x":140,"y":160,"wires":[["c5c4a66c.2181d8"]]},{"id":"1157519c.fcddfe","type":"ebr-websocket in","z":"14853596.02638a","name":"电子称1","server":"2c2098b6.641168","client":"","x":110,"y":80,"wires":[["e1602cac.81503"]]},{"id":"c5c4a66c.2181d8","type":"ebr-websocket out","z":"14853596.02638a","name":"电子称1","server":"2c2098b6.641168","client":"","x":160,"y":240,"wires":[]},{"id":"8ad0f8d7.e92318","type":"http in","z":"e7a4c3ea.d0dac","name":"打印接口","url":"/print","method":"post","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["9fbfa0ee.781c4"]]},{"id":"88dad7f.57ded28","type":"http response","z":"e7a4c3ea.d0dac","name":"","statusCode":"","headers":{},"x":610,"y":120,"wires":[]},{"id":"ad5b4da7.dd1ac","type":"comment","z":"e7a4c3ea.d0dac","name":"打印机-打印接口","info":"","x":180,"y":60,"wires":[]},{"id":"43e35dd9.4150a4","type":"comment","z":"9bcdb673.840e38","name":"RFID Server","info":"","x":190,"y":140,"wires":[]},{"id":"fc56db84.735748","type":"inject","z":"9bcdb673.840e38","name":"周期执行（每秒）","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["d9b27eae.88555"]]},{"id":"d9b27eae.88555","type":"RFID-Read","z":"9bcdb673.840e38","x":450,"y":240,"wires":[["bf3047ff.08c128","2c246354.40c97c"]]},{"id":"db68d2e0.42c7d","type":"RFID-Switch","z":"9bcdb673.840e38","x":450,"y":340,"wires":[[]]},{"id":"611ff90c.ceeae8","type":"ebr-websocket in","z":"9bcdb673.840e38","name":"读卡器","server":"7d824e69.5a82f","client":"","x":180,"y":320,"wires":[["d9b27eae.88555","db68d2e0.42c7d"]]},{"id":"bf3047ff.08c128","type":"ebr-websocket out","z":"9bcdb673.840e38","name":"读卡器","server":"7d824e69.5a82f","client":"","x":650,"y":180,"wires":[]},{"id":"9fbfa0ee.781c4","type":"label-printer","z":"e7a4c3ea.d0dac","name":"标签打印机","printer":"ZDesigner ZT210-300dpi ZPL","x":390,"y":120,"wires":[["88dad7f.57ded28"]]},{"id":"2c246354.40c97c","type":"debug","z":"9bcdb673.840e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"9b5d5476.ea1d28","type":"mis3c","z":"14853596.02638a","name":"11","devID":"100","devType":"733be4f.137cd1c","unit":"g","x":370,"y":380,"wires":[["8143bf86.e081b","ab234bbe.b46dc8"]]},{"id":"8143bf86.e081b","type":"debug","z":"14853596.02638a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"25610946.671966","type":"ebr-websocket in","z":"14853596.02638a","name":"intec","server":"7d4054d6.2e223c","client":"","x":170,"y":460,"wires":[["9b5d5476.ea1d28"]]},{"id":"ab234bbe.b46dc8","type":"ebr-websocket out","z":"14853596.02638a","name":"intec","server":"7d4054d6.2e223c","client":"","x":630,"y":440,"wires":[]}]